<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashh.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/test.css" %}">
</head>

<div class="haddd">
    <header>
        <div class="header-left">
            <p>Tech<span>Care</span></p>
        </div>
        <div class="header-right"> 
            <div class="log-out">
                {{ request.user.username }}
                <img src="{% static "Image/addd.webp" %}" alt="Users" class="head-1" title="user">
                <a href="{% url 'index' %}">LogOut</a>
            </div>
        </div>
    </header>
</div>

<body>
<div class="admin-body">
    <div class="left">
        <div class="admtr">
            <a onclick="show1()"><i class="fa-solid fa-gauge"></i>Dashboard</a>
            <a onclick="show2()"><i class="fa-solid fa-user-doctor"></i></i>Doctor</a>
            <a onclick="show3()"><i class="fa-solid fa-bed-pulse"></i>Patients</a>
            <a onclick="show4()"><i class="fa-solid fa-calendar-days"></i>Appointments</a>
            <a onclick="show5()"><i class="fa fa-flask" aria-hidden="true"></i>Laboratory& Reports</a>
            <a onclick="show6()"><i class="fa fa-medkit" aria-hidden="true"></i>Pharmacy</a>
            <a onclick="show7()"><i class="fa fa-file" aria-hidden="true"></i>Vendors</a>
            <a onclick="show8()"><i class="fa fa-search" aria-hidden="true"></i>Inventory</a>
            <a onclick="show9()"><i class="fa fa-users" aria-hidden="true"></i>Staff</a>
        </div>
    </div>

    <div class="right" name="adash">
        <div id="div1">
            <div  class="Admindash">
                <div class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Total Doctors:<br>{{ count }}</h1>
                    <h2>Approval required:{{ count2 }}</h2>
                </div>
                <div class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Total Patients:<br>{{ count1 }}</h1>
                    <h2>Wants to Admit:{{ count3 }}</h2>
                </div>
                <div class="row">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Total Appointments:{{ count4 }}</h1>
                    <h2>Appointments Remain Approve:{{ count5 }}</h2>
                </div>
            </div>
            <div class="Record">
                <div class="Record1">
                    <div class="heading">
                        <h1>Recent Doctors</h1>
                    </div>
                    {% if userdata %}
                    <table class="table">
                        <tr>
                            <th colspan="2">Name</th>
                            <th rowspan="2">Address</th>
                            <th rowspan="2">Age</th>
                            <th rowspan="2">Email</th>
                            <th rowspan="2">Mobile</th>
                        </tr>
                        <tr>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                        {% for user in userdata %}
                        <tr>
                            <td>{{ user.dFname }}</td>
                            <td>{{ user.dLname }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <center><h2>No Doctor Records found...!!!!!</h2></center>
                    {% endif %}
                </div>

                <div class="Record2">
                    <div class="heading">
                        <h1>Recent Patients</h1>
                    </div>
                    {% if userdata1 %}
                    <table class="table">
                        <tr>
                            <th colspan="2">Name</th>
                            <th rowspan="2">Address</th>
                            <th rowspan="2">Age</th>
                            <th rowspan="2">Email</th>
                            <th rowspan="2">Mobile</th>
                        </tr>
                        <tr>
                            <th>First</th>
                            <th>Last</th>
                        </tr>
                        {% for user in userdata1 %}
                        <tr>
                            <td>{{ user.pFname }}</td>
                            <td>{{ user.pLname }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <center><h2>No Patients Records found...!!!!!</h2></center>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="div2" class="Admindash">
            <div class="div2-control">
                <div class="row" onclick="show10()">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Doctors Record:<br></h1>
                </div>
                <div class="row" onclick="show11()">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Register Doctor:<br></h1>
                </div>
                <div class="row" onclick="show16()">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Approved Doctor</h1>
                </div>
                <div class="row">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Docotor Specialisation</h1>
                </div>
            </div>
        </div>

        <div id="div3" class="Admindash">
            <div class="div3-control">
                <div onclick="show14()" class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Patients Record:<br></h1>
                </div>
                <div onclick="show12()" class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Admin Patients:<br></h1>
                </div>
                <div class="row" onclick="show17()">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Approved Patients</h1>
                </div>
                <div class="row" onclick="discharge()">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Discharge Patients</h1>
                </div>
            </div> 
        </div>

        <div id="div4" class="Admindash">
            <div class="div3-control">
                <div class="row" onclick="showpatients_appoint_data()">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>View Appointments<br></h1>
                </div>
                <div class="row" onclick="showpatients_appoint_booking()">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Book Appointments<br></h1>
                </div>
                <div class="row" onclick="showpatients_appoint()">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Approve Appointments</h1>
                </div>
            </div> 
        </div>

        <div id="div5" class="Admindash">
            <div class="div3-control">
                <div class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Employee vitals<br></h1>
                </div>
                <div class="row" onclick="reports()">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Patients Lab Test & results<br></h1>
                </div>
                <div class="row" onclick="reportsview()">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>All Lab Report</h1>
                </div>
            </div> 
        </div>

        <div id="div6" class="Admindash">
            <div class="div3-control">
                <div class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Add Pharm category<br></h1>
                </div>
                <div class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Pham category Record<br></h1>
                </div>
            </div> 
        </div>

        <div id="div7" class="Admindash">
            <div class="div3-control">
                <div class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>All Vendors Records<br></h1>
                </div>
                <div class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Add Vendors<br></h1>
                </div>
            </div> 
        </div>

        <div id="div8" class="Admindash">
            <div class="div3-control">
                <div class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Pharmaceuticals Inventory<br></h1>
                </div>
                <div class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Assests<br></h1>
                </div>
            </div> 
        </div>

        <div id="div9" class="Admindash">
            <div class="div3-control">
                <div onclick="show15()" class="row">
                    <img src="{% static "Image/doctorr.png" %}">
                    <h1>Staff Record<br></h1>
                </div>
                <div onclick="show13()" class="row">
                    <img src="{% static "Image/patientt.jpg" %}">
                    <h1>Add Staff<br></h1>
                </div>
                <div class="row">
                    <img src="{% static "Image/aaa.webp" %}">
                    <h1>Transfer Staff</h1>
                </div>
            </div> 
        </div>

        {% comment %} ............................................................................................................................ {% endcomment %}
        <iframe id="div10" src="{% url 'adocrec1' %}"> </iframe>
        <iframe id="div11" src="{% url 'doct1' %}"> </iframe>
        <iframe id="div12" src="{% url 'pat1' %}"> </iframe>
        <iframe id="div13" src="{% url 'staff1' %}"> </iframe>
        <iframe id="div14" src="{% url 'patrec1' %}"> </iframe>
        <iframe id="div15" src="{% url 'staffrec1' %}"> </iframe>
        <iframe id="div16" src="{% url 'Approve' %}"> </iframe>
        <iframe id="div17" src="{% url 'Approve1' %}"> </iframe>
        <iframe id="showpatients_appoint" src="{% url 'Admin_Approve_patient_appointment' %}"> </iframe>
        <iframe id="showpatients_appoint_booking" src="{% url 'Adminennter_appointment' %}"> </iframe>
        <iframe id="showpatients_appoint_data" src="{% url 'Admin_Approve_appoint' %}"> </iframe>
        <iframe id="discharge" src="{% url 'admindischarge' %}"> </iframe>
        <iframe id="reports" src="{% url 'patrectoreport' %}"></iframe>
        <iframe id="reportsview" src="{% url 'patrectoreportview' %}"> </iframe>
    </div>
</div>

<div class="footer">
    <footer>
        <h4 style="color: white;">Follow us</h4>
        <div class="social-links">
            <a href="#" id="fb"><i class="fab fa-facebook-f"></i></a>
            <a href="#" id="fb"><i class="fab fa-twitter"></i></a>
            <a href="#" id="inst"><i class="fab fa-instagram"></i></a>
            <a href="#" id="inst"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </footer>
</div>

<script src="{% static "css/dashhh.js" %}"></script>

</body>
</html>
