<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{%static "css/index.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
<header>
<div class="header-left">
    <p>Tech<span>Care</span></p>
<div class="topic">
    <a href="/login"><button >Admin</button></a>
    <a href="/login"><button>Doctor</button></a>
    <a href="/login"><button>Patients</button></a>
    </div>
</div>
<div class="header-right">
    <div class="head-1">
        <button>About Us</button>
    </div>
    <div class="conts">
        <button>Contact Us</button>
    </div>
</div>
</header>
<div class = "start">
    <center><h1>Life will not return if we lose it once </h1>
        <h2>So care your health how more you can</h2>
    </center>
    <center><p>You'll Love the way we care You </p>
    <p>If Emergency ?</p>
    <button>Take Appointment</button>
    </center> 

</div>
<div class = "profile">
    <div class="vtn">
        <img src="{%static "Image/addd.webp"%}">
		<h1>Admin</h1>
        <a href="/login">View</a>
		</div>
<div class="vtn">
    <img src="{%static "Image/doctorr.png"%}">
	<h1>Doctor</h1>
    <a href="/login1">View</a>
	</div>
<div class="vtn">
    <img src="{%static "Image/Rr.png"%}">
	<h1>Patients</h1>
    <a href="/login2">View</a>
</div>
</div>
<div>
    <footer>
    <h4 style="color: white;">Follow us</h4>
    <div class="social-links">
        <a href="#" id="fb"><i class="fab fa-facebook-f" ></i></a>
        <a href="#" id="fb"><i class="fab fa-twitter" ></i></a>
        <a href="#" id="inst"><i class="fab fa-instagram"></i></a>
        <a href="#" id="inst"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer>
</div>
</body>
</html>