<!DOCTYPE html>
{%load static%}
<html>
<head>
    <title>HOSPITAL MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <br>
    {% comment %} <link rel="stylesheet" type="text/css" href="{%static "css/register.css"%}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{%static "css/dashh.css"%}">



</head>
<body>
    <div class="Record22">
        <div class="heading">
            <h1>All Patients Record</h1>
        </div>
        {% if patrectoreportview %}
        <table class="table">
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Address</th>
            <th rowspan="2">Mobile</th>
            <th rowspan="2">Patient Ailment</th>
            <th rowspan="2">Doctor Name</th>
            <th rowspan="2">view Report</th>


        </tr>
        <tr>
        </tr>
        {% for user in patrectoreportview %}
        <tr>
            <td>{{user.pFname}}</td>
            <td >{{user.address}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.Problem_pat}}</td>
            <td>{{user.dFname}}</td>
            <td><a href="{% url 'generatedreport' user.username%}"><button id="icon2"><i class="fas fa-eye"></i></button></a></td>

        </tr>
        {% endfor %}
        </table>
    {% else %}
        <center><h2>No Patients Records found...!!!!!</h2></center>
    {% endif %}
    </div>
</div>
</div>
</body>
</html>